{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="background-image bg-cover bg-center h-screen z-20 flex flex-col justify-center items-center ">
		<div class="bg-light bg-opacity-70 backdrop-blur-xs py-4 px-6 rounded-xl shadow flex flex-col justify-center items-center mx-6">
			<h1 class="text-3xl">Créez vos cartes pour Runic Arena! ✨</h1>
			<p class="text-dark">Participez à l'évolution du jeu en proposant vos idées de cartes uniques. Contribuez à l'univers et partagez votre créativité avec la communauté ! 🎴</p>
		</div>
	</div>

	<style>
		.background-image {
			background-image: url('{{ asset('images/background-image.png') }}');
		}
	</style>

	<div class="container px-20 lg:px-36 py-16 mx-auto h-5/6">
		<h2>Les dernières cartes ajoutées</h2>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for card in cards %}
					<div class="swiper-slide">
						<div class="card-slide relative">
							<div>
								{% if card.imageName %}
									<img class="card-image rounded-3xl" src="{{ asset('images/cards/' ~ card.imageName) }}" alt="{{ card.name }}">
								{% endif %}
								<p class="absolute bottom-[25%] left-[20px] z-10 text-xl p-4 shadow text-dark rounded-full w-1/4 text-center bg-light bg-opacity-70 font-bold">{{ card.attackPower }}</p>
								<div class="card-details">
									<h2 class="text-base font-bold text-left">{{ card.name }}</h2>
									<div class="flex justify-between">
										<span class="text-sm">{{ card.type.name }}</span>
										<span class="text-sm">{{ card.class.name }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
		<div class="flex justify-center items-center mt-16">
			<a class="button-form mb-8" href="{{ path('card_add') }}">Générer une carte</a>
		</div>
	</div>
	<script>
		var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 10,
        breakpoints: {
            640: {
            slidesPerView: 1,
            spaceBetween: 20
            },
            768: {
            slidesPerView: 2,
            spaceBetween: 40
            },
            1024: {
            slidesPerView: 3,
            spaceBetween: 50
            }
        },
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
        }
        });
	</script>
{% endblock %}
