{# card/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la carte{% endblock %}

{% block body %}
    <h1>{{ card.name }}</h1>
    <p>Puissance d'attaque: {{ card.attackPower }}</p>
    <p>Type: {{ card.type.name }}</p>
    <p>Classe: {{ card.class.name }}</p>
    {% if card.imageName %}
        <img src="{{ asset('images/cards/' ~ card.imageName) }}" alt="{{ card.name }}">
    {% endif %}
{% endblock %}